div {
	user-select: none;
}

//用于表格文字溢出隐藏
.root-table {
	tbody {
		td {
			position: relative;
		}
	}
	.root-table-content {
		position: absolute;
		left: 16px;
		right: 16px;
		top: 16px;
		bottom: 16px;
		display: flex;
		align-items: center;
		overflow: hidden;
		.row-ellipsis {
			overflow: hidden;
			white-space: nowrap;
			text-overflow: ellipsis;
			cursor: pointer;
		}
	}
}

.root-meditor {
	.markdown-toolbars {
		flex-wrap: wrap !important;
		height: auto !important;
	}
	textarea {
		white-space: normal !important;
	}
}
