.admin-user {
	flex: 1;
	background-color: #ffffff;
	padding: 24px;
	box-sizing: border-box;
	.ant-table-tbody > tr {
		> td:nth-child(2) {
			padding: 8px;
		}
	}
	// .avatar-uploader > .ant-upload {
	// 	width: 156px;
	// 	height: 156px;
	// }
	// .ant-upload-select-picture-card i {
	// 	font-size: 32px;
	// 	color: #999;
	// }

	// .ant-upload-select-picture-card .ant-upload-text {
	// 	margin-top: 8px;
	// 	color: #666;
	// }
}

.upload-container {
	display: flex;
	&-crop {
		flex: 1;
		height: 240px;
	}
}
