.create-layout {
	.trigger {
		font-size: 18px;
		line-height: 64px;
		padding: 0 24px;
		cursor: pointer;
		transition: color 0.3s;
		&:hover {
			color: #1890ff;
		}
	}
	.ant-menu {
		height: 100%;
	}
}

.create-drawer {
	.ant-drawer-body {
		padding: 0;
	}
	.ant-menu {
		height: 100%;
	}
}
