.create-layout {
	.trigger {
		font-size: 18px;
		line-height: 64px;
		padding: 0 24px;
		cursor: pointer;
		transition: color 0.3s;
		&:hover {
			color: #1890ff;
		}
	}
	.ant-menu {
		height: 100%;
	}

	/***固定头部***************************************/
	.ant-fixed-header {
		position: fixed;
		width: 100%;
		z-index: 99;
	}

	/***固定侧边栏菜单***************************************/
	.ant-fixed-sider {
		position: fixed;
		height: 100%;
		z-index: 99;
	}
}

.create-drawer {
	.ant-drawer-body {
		padding: 0;
	}
	.ant-menu {
		height: 100%;
	}
}
