.root-project {
	flex: 1;
	background-color: #ffffff;
	padding: 24px;
	.root-table {
		tbody {
			tr > td {
				&:nth-child(2) {
					position: relative;
				}
				.root-ellipsis {
					position: absolute;
					left: 16px;
					right: 16px;
					top: 16px;
					bottom: 16px;
					overflow: hidden;
					white-space: nowrap;
					text-overflow: ellipsis;
				}
			}
		}
	}
}
