.root-chain-pro {
	.ant-card-grid {
		width: 33.33%;
		@media (max-width: 1280px) {
			width: 50%;
		}
		@media (max-width: 780px) {
			width: 100%;
		}
	}
	.card-title {
		font-size: 0;
		a {
			color: rgba(0, 0, 0, 0.85);
			margin-left: 12px;
			line-height: 24px;
			height: 24px;
			display: inline-block;
			vertical-align: top;
			font-size: 14px;
			&:hover {
				color: #1890ff;
			}
		}
	}
	.card-description {
		color: rgba(0, 0, 0, 0.45);
		height: 66px;
		line-height: 22px;
		display: -webkit-box;
		-webkit-box-orient: vertical;
		-webkit-line-clamp: 3;
		overflow: hidden;
	}
	.project-item {
		display: flex;
		margin-top: 16px;
		overflow: hidden;
		font-size: 12px;
		height: 20px;
		line-height: 20px;
		a {
			color: rgba(0, 0, 0, 0.45);
			display: inline-block;
			flex: 1 1 0;
			&:hover {
				color: #1890ff;
			}
		}
		.datetime {
			color: rgba(0, 0, 0, 0.25);
			flex: 0 0 auto;
			float: right;
		}
	}
}
