.root-user {
	padding: 16px 24px;
	background-color: #ffffff;
	.nicke {
		margin-left: 24px;
		flex: 1;
		display: flex;
		flex-direction: column;
		justify-content: center;
		&-nickname {
			font-size: 20px;
			color: #262626;
		}
		p {
			font-size: 14px;
			color: #999;
			margin: 5px 0 0;
		}
	}
	.user-row {
		margin-top: 10px;
		span {
			color: #999;
			font-size: 16px;
		}
		div {
			font-size: 20px;
			color: #262626;
		}
	}
}
